<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PoC Test" thread-count="1">
    <test name="TestcasesPoC">
        <classes>
            <class name="testcases.poc.TC_PoC">
                <methods>
                    <include name="TC_001_Verify_Login_Logout">
                    </include>
<!--                    <include name="TC_002_Verify_Rating_and_Review">-->
<!--                    </include>-->
<!--                    <include name="TC_003_Verify_Create_and_move_Orders">-->
<!--                    </include>-->
                </methods>
            </class>
<!--            <class name="testcases.poc.TC_Emulator">-->
<!--                <methods>-->
<!--                    <include name="TC_001_Verify_Login_Logout">-->
<!--                    </include>-->
<!--                    <include name="TC_002_Verify_Rating_and_Review">-->
<!--                    </include>-->
<!--                    <include name="TC_003_Verify_Create_and_move_Orders">-->
<!--                    </include>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
</suite>